@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* OKVIR */

#log-okvir{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fec107;
}

/* FORMA I POLJA*/

.forma{
    width: 600px;
    max-width: 100%;
    height: 730px;
    min-height: 500px;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    overflow: hidden;
}

.forma .title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fec107;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
}

.title h2{
    margin: 0;
}

.forma .form{
    width: 100%;
    margin-top: 30px;
    padding: 30px 20px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}

#btnReg{
    background: #fec107;
    border: 2px solid #fec107;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#btnLog{
    background: #fec107;
    border: 2px solid #fec107;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}



.cistac{
    clear: both;
}

@media (max-width: 600px){
    .forma .form .input_polje{
        flex-direction: column;
        align-items: flex-start;
    }
    .forma .form .input_polje label{
        margin-bottom: 5px;
    }
    .forma .form .input_polje.terms{
        flex-direction: row;
    }
}