@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fec107;
}

ul li a{
    display: block;
    color: #505978;
}

/*OKVIR I NAVBAR*/

.okvir{
    margin: 0 auto;
}

.okvir .navbar{
    width: 95%;
    height: 60px;
    background-color: #fff;
    margin: 15px auto;
    padding: 0 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.navbar .logo{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}

.navbar .logo span{
    color: #fec107;
}

ul.menu{
    display: flex;
    width: 100%;
}

.navbar ul.menu a{
    margin: 0 5px;
    width: 100px;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2 ease;
}

.navbar .navbar_left{
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar .menu{
    margin-left: 40px;
}

.navbar ul.menu a:hover,
.navbar ul.menu a.active{
    background-color: #505978;
    color: #fff;
    border-radius: 25px;
}

/* SLAJDER */

#slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #d5dbd9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #d5dbd9;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #d5dbd9;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #d5dbd9;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #d5dbd9;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #d5dbd9;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #d5dbd9;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #d5dbd9;
}

/* INDEX */

.container{
    max-width: 1900px;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 24%;
    min-width: 200px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    height: 330px;
}
.small-container{
    max-width: 1700px;
    margin: auto;
}

.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin: 5px 5px 50px 5px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.small-container h2{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #505978;
    font-size: 40px;
}

.small-container h2::after{
    content: '';
    background-color: #adadad;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #3b5998;
    font-weight: normal;
}

.col-4 p{
    font-size: 15px;
}

.raiting i{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}


/* STORE */

#store-okvir{
    padding: 100px 200px 50px 200px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.col-left{
    
    align-self: start;
    max-width: 300px;
    width: 100%;
    border-right: 1px solid black;
    height: 1400px;
    padding: 20px;
}

.col-left h2{
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #505978;
    font-size: 30px;
    margin-top: 20px;
}

.col-left h2::after{
    content: '';
    background-color: #adadad;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.kategorije{
    margin-top: 20px;
}
.kategorije .kat{
    margin-top: 10px;
}
.kategorije .kat h3{
    text-transform: uppercase;
}
.kategorije .kat h3 a{
    color: #fff;
}

.brendovi{
    margin-top: 20px;
}
.brendovi .desno{
    float: right;
}
.brendovi ul li{
    margin-top: 10px;
}
.brendovi ul li a{
    color: #fff;
    text-transform: uppercase;
}

.sort{
    margin-top: 20px;
}
.sort .chb{
    margin-top: 10px;
}
.sort .chb span{
    margin-left: 10px;
}

.col-right{
    max-width: 1500px;
    width: 100%;
    height: auto;
}

/*PRODUCT PAGE*/

#product-okvir{
    padding: 50px;
    width: 100%;
    height: 100%;
}

.row-gore{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2.right{
    height: 750px;
    padding: 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-2 img{
    padding: 30px 0;
}
.col-2.main img{
    width: 100%;
    height: 100%;
}

.small-container .col-2 img{
    padding: 0;
}
.small-img-col img{
    width: 100%;
    height: 200px;
}

.small-container h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

#btnAdd{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.row.row-2{
    margin-top: 40px;
}

.viewmore{
    float: right;
    margin-bottom: 30px;
    margin-right: 30px;
}


/*CONTACT FORM*/

#cnt-okvir{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.forma{
    width: 600px;
    max-width: 100%;
    height: 730px;
    min-height: 500px;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    overflow: hidden;
}

.forma .title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fec107;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
}

.title h2{
    margin: 0;
}

.forma .form{
    width: 100%;
    margin-top: 30px;
    padding: 30px 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.form-control textarea{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    resize: none;
    height: 150px;
    margin-top: 10px;
}

.form-control.success textarea{
    border-color: #2ecc71;
}

.form-control.error textarea{
    border-color: #e74c3c;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control.success i.fa-check{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}

#btnCnt{
    background: #fec107;
    border: 2px solid #fec107;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

/* ABOUT */

#abt-okvir{
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.rezime{
    width: 900px;
    background: #fff;
    margin: 25px auto;
    display: flex;
}

.left{
    background: #505978;
    width: 300px;
    padding: 0 30px;
}

.right{
    width: 600px;
}

.left .img{
    text-align: center;
    padding: 20px 0;
}

.left .img img{
    width: 200px;
    border-radius: 30px;
}

.pb{
    padding-bottom: 20px;
}

.naslov{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px;
    color: #ffdd76ef;
    position: relative;
    text-align: right;
    margin-bottom: 15px;
}

.naslov::before{
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    height: 3px;
    width: 50px;
    background: #ffdd76ef;
}

.left .icon{
    font-size: 20px;
    color: #9153c9;
}

.left .text{
    color: #3b5998;
    text-transform: uppercase;
    font-size: 12px;
}

.info .li_wrap{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.info .li_wrap .icon{
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 15px;
}

.info .li_wrap .text{
    width: calc(100% - 50px);
    word-break: break-word;
    color: #fff;
}

.skills ul,
.hobbies ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills .li_wrap{
    background: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
    margin-top: 5px;
}

.hobbies .li_wrap{
    border: 2px solid #fff;
}

.hobbies .li_wrap .text,
.hobbies .li_wrap .icon{
    color: #fff;
}

.hobbies .li_wrap:hover{
    background: #fff;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
    color: #9153c9;
}

.right_header{
    background: #505978;
    padding: 15px 30px;
    color: #fff;
    height: 240px;
}

.right_header .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffdd76ef;
}

.right_header .role{
    font-weight: 400;
    font-size: 20px;
}

.right_header .about{
    margin-top: 20px;
    line-height: 26px;
    text-align: justify;
}

.right_inner{
    padding: 30px;
    color: #3b5998;
}

.right_inner .education{
    margin-top: 30px;
}

.right_inner .li_wrap{
    display: flex;
    margin-bottom: 15px;
}

.right_inner .li_wrap .date{
    width: 125px;
    color: #505978;
}

.right_inner .li_wrap .info{
    width: calc(100% - 125px);
    padding-left: 25px;
    position: relative;
}

.right_inner .li_wrap .info_title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #505978;
}

.right_inner .li_wrap .info_com{
    font-weight: 400;
    font-size: 14px;
    margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
    margin-top: 15px;
}

.right_inner .li_wrap .info::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: #ffdd76ef;
    border-radius: 50%;
}

.right_inner .li_wrap .info::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: #ffdd76ef;
}

/* ADMIN PANEL */

#admin-okvir{
    padding: 50px;
    width: 100%;
    height: 100%;
}

#btnInsert,
#btnUpdate,
#btnDelete{
    width: 100px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px;
    height: 50px;
    outline: none;
}

#prvi-red{
    display: flex;
    justify-content: center;
    width: 100%;
}

#drugi-red{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#admin-okvir h1{
    margin-bottom: 20px;
}

.admin-akcija,
.admin-proizvod-na-akciji{
    margin-left: 20px;
}
.admin-delete-akcija,
.admin-delete-proizvod-akcija{
    margin-left: 20px;
}

.form-control.fp input{
    width: 500px;
}

.form-control.fp select{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 500px;
    margin-top: 10px;
}




/* FOOTER */

.footer{
    background-color: #222222;
    padding: 50px;
}

.footer .footer_menu{
    max-width: 1000px;
    width: 100%;
    display: flex;
    margin: 0 auto 25px;
    justify-content: space-between;
}

.footer .footer_menu .title{
    margin-bottom: 15px;
    color: #adadad;
    font-size: 25px;
    text-align: left;
}

.footer .footer_menu ul li a{
    display: block;
    margin-bottom: 6px;
    color: #fff;
}

.footer .footer_menu ul li a:hover{
    text-decoration: underline;
}

.footer .partners ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.footer .partners ul li a{
    display: block;
    margin: 0 5px;
}

.footer .social_media{
    text-align: center;
}

.footer .social_media ul{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer .social_media ul li a{
    display: block;
    margin: 0 5px;
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #222222;
    line-height: 50px;
    border-radius: 3px;
}

.footer .social_media ul li a:hover{
    color: #fff;
}

.footer .social_media ul li a.facebook:hover{
    background: #3b5998;
}

.footer .social_media ul li a.steam:hover{
    background: rgb(110, 160, 177);
}

.footer .social_media ul li a.instagram:hover{
    background: #eb9cda;
}

.footer .social_media ul li a.whatsapp:hover{
    background: #25d366;
}

.footer .social_media{
    color: #adadad;
}



.cistac{
    clear: both;
}

/* MEDIA */

@media (max-width: 800px){

    .footer .footer_menu{
        flex-direction: column;
        width: 220px;
        margin: 0 auto 25px;
    }
    .footer .footer_menu > div{
        margin: 10px 0;
    }
    .footer .partners ul li a{
        margin: 5px;
    }
}

@media only screen and (max-width: 1080px){
    .navbar_left ul{
        position: absolute;
        top: 67px;
        left: -40px;
        background-color: #333;
        width: 100%;
        display: block;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .navbar_left ul li{
        position: relative;
        left: 85.5%;
    }
    .navbar_left ul li a{
        color: #fff;
    }
    .meni-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-3, .col-4{
        flex-basis: 100%;
    }
}
